<ul>
  <li> <%= link_to "Manage All Page Headers / Descriptions", admin_page_headers_path %> </li>
  <li><%= link_to "Manage Services/Products", admin_products_path %> </li>
  <li><%= link_to "Manage Coupons", admin_coupons_path %>
  <li><%= link_to "Manage Faq", admin_faqs_path %>
  <li><%= link_to "Manage Contact Info", admin_contacts_path %>
  <li><%= link_to "Manage Reviews", admin_reviews_path %>
  <li><%= link_to "Manage Users", admin_users_path %>
  
  <li><%= link_to "Manage Logo", admin_logos_path %>
  <li><%= link_to "Manage Blog", admin_blogs_path %>
</ul>