<%= link_to "Create New FAQ", new_faq_path %>

<h1>Current Freqeuently Asked Questions:</h1>

<ul id="faqs" data-update-url="<%= sort_faqs_url %>">
<% @faqs.each do |faq| %>
  <%= content_tag_for :li, faq do %>
    <span class="handle">[drag]</span>
    Question: <%= faq.question %> 
      <%= link_to "Edit FAQ", edit_faq_path(faq) %> |
      <%= link_to "Delete FAQ", faq, :method => :delete, :confirm => "Are you sure you want to delete this FAQ?" %> <br />
    Answer: <%= faq.answer %> <br />
     Position: <%= faq.position %><br /> <br />
   
  <% end %>
<% end %>