<%= form_for [:admin, @review] do |f| %>
<p>
  <%= f.label(:first_name) %>
  <%= f.text_field :first_name %>
</p>

<p>
  <%= f.label(:last_name) %>
  <%= f.text_field :last_name %>
</p>

<p>
  <%= f.label(:body) %>
  <%= f.text_area :body %>

</p>
<p>
  <%= f.submit("Submit") %>
</p>
<% end %>