<div id="content-top" class="wrapper">
  <div class="row-fluid">
    <div class="span8">
      <p class="intro">Jensen Locksmithing is dedicated to serving St. George, Washington, Hurricane, LaVerkin, and surrounding areas. We offer locksmithing services for Commercial, Residential, and Auto. We specialize in lockouts, re-keys, key replacement, keyless entries, and all locksmith services.   </p>

      <%= image_tag('were_available.png', options={class: 'available'}) %>

      <span class="number">435.319.0361</span>
      <span class="email">support@jensenlocksmithing.com</span>

      <div class="divider"></div>

    </div>
    <div class="span4">
      <%= image_tag('office-staff-family.jpg', options={alt: 'Our family owned locksmith company provides fast, friendly, and affordable service to Saint George, Hurricane, La Verkin and all of Southern Utah', class: 'main-image'}) %>
    </div>
  </div>
</div>
<div id="services">
  <div class="wrapper">
    <%= render 'page/layouts/services' %>
  </div>
</div>	

<div id="reviews">
  <div class="wrapper">
    <%= render 'page/layouts/reviews' %>
  </div>
</div>

<div id="specials">
  <div class="wrapper">
    <%= render 'page/layouts/specials' %>
  </div>
</div>

<div id="contact-us">
  <div class="wrapper">
    <%= render 'page/layouts/contact_us' %>
  </div>
</div>