A new review has been left. Please visit <a href="http://www.jensenlocksmithing.com/admin/reviews"> Here </a> to view it.

<br /><br />
Review Info:<br/>
From: <%= @review.first_name %> <%= @review.last_name %><br/>
Review: <%= @review.body %><br />
Email: <%= @review.email %><br />
Phone: <%= @review.phone %><br />