 <!DOCTYPE html>
<html itemscope itemtype="http://schema.org/LocalBusiness" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta itemprop="name" content="Jensen Locksmithing">
  <meta itemprop="description" content="A family owned professional, honest and affordable Locksmith. We serve St. George, Hurricane, areas. We're available 24/7 for any locksmithing services">
  <title><%= content_for?(:title) ? yield(:title) : "Honest, Affordable, Fast Locksmith in St. George, Hurricane Utah" %></title>

  <%= stylesheet_link_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Lilita+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag 'nestedsortables.min' %>
  <%= csrf_meta_tags %>
</head>

<body>
  <header id="top">
    <%= render 'layouts/header' %>
  </header>
  <div id="content">
    <%= render 'layouts/messages' %>
    <%= yield %>
    <!-- leaving footer inside content for now because it doesn't get pushed down with the header -->
    <footer id="bottom">
    <div class="wrapper">
      <p>Copyright &copy; 2013 Jensen Locksmithing</p>
    </div>
    <%= render 'layouts/google_analytics' %>
  </footer>
  </div>
</body>
</html>
